#jumbotron {
  background-color: rgb(243, 230, 172);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.jumbotron-titles {
  display: flex;
  justify-content: space-around;
}

.product-listing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.product-prices {
  font-size: 17px;
  font-weight: bold;
  border-bottom: 2px rgb(202, 226, 214) solid;
}

#link {
  color: rgb(94, 90, 90);
}
