#product-review {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

#all-reviews-title {
  text-align: start;
  font-size: 26px;
  border-bottom: 2px solid rgb(233, 230, 230);
}

#individual-review-container {
  margin-top: 15px;
  max-width: 880px;
}

.reviewer-username {
  font-size: 13px;
}

.review-content {
  font-size: 16px;
  padding: 20px;
  max-width: 880px;
  word-wrap: break-word;
}

#review-bottom {
  margin-top: 20px;
  text-align: center;
}
