.my-reviews-container {
  max-width: 900px;
  margin-left: 40px;
  margin-right: 40px;
  word-wrap: break-word;
  margin-top: 20px;
  border-bottom: 1px solid rgb(250, 160, 119);
}

#my-review-username {
  margin-top: 20px;
}

.delete-review {
  margin: 5px;
  padding: 10px;
  height: 40px;
  background: none;
  border-radius: 24px;
  text-align: center;
  cursor: pointer;
}

.delete-review:hover {
  box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.3);
  border: 2px black solid;
}

#link-for-review {
  color: rgb(250, 160, 119);
}
